# Dart/Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# Build
build/

# Android
android/local.properties
android/.gradle/
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
**/gradle-wrapper.jar

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
